@font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(../assets/fonts/jost-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300 800;
    font-stretch: 100%;
    font-display: swap;
    src: url(../assets/fonts/opensans-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --inactive-line-color: transparent;
    --surface-color: #FFFFFF;
    --hover-background-color: #e1e1e1;
    --text-color: #595959;
    --heading-color: #080808;    
    --spacing-big: 1.875rem;
    --spacing-medium: 1.25rem;
    --spacing-small: 0.625rem;
    --spacing-tiny: 0.375rem;
}

nav {
    background-color: var(--surface-color);
    border-width: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 363;
    margin: 0;
    background-color: var(--surface-color);
    font-size: 1rem;
    color: var(--text-color);
}

button {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    border-width: 0;
    background-color: var(--inactive-line-color);
    text-align: center;
    letter-spacing: normal;
    font-size: 1rem;
    padding: 0;
    cursor: pointer;
}

.menu {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1.625rem;
    padding-right: 1.625rem;
}

.navigation-buttons {
    display: flex;

    .navigation-button {
        padding-top: .5rem;
        padding-bottom: .5rem;
        border-bottom-style: solid;
        color: var(--heading-color);
        border-color: var(--inactive-line-color);
        display: flex;
        align-items: center;
    }

    .navigation-button:not(:first-child) {
        margin-left: 2rem;
    }

    .navigation-button:hover {
        color: var(--hover-text-color);
    }

}

h1 {
    font-size: 1.5rem;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    color: var(--heading-color);
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: -3%;
    line-height: 1.1rem;
}

h2 {
    font-size: 1.25rem;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    color: var(--heading-color);
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 3%;
    line-height: 1rem;
}

p {
    font-size: 0.9375rem;
    margin: 0;
    padding: 0;
}

a {
    color: var(--text-color);
}

.main-content {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.625rem;
    padding-right: 1.625rem;
}


