<div class="main-content">

    <div class="head-section">
        <h1>my portfolio</h1>
        <p>
            Here are some of my latest projects:
        </p>
    </div>
    <div class="separator"></div>
    <div class="entry">
        <h2>asteri</h2>
        <p>
            An interactive map for place of study research in Germany. This project was done together with Sissi Zhou
            and Arwin Fattahi
        </p>
        <div class="portfolio-link">
            <p>🖥️
                <a href="https://asteri-projektmodul-web-muc-dai-semester-wise202-a5990340325b61.pages.gitlab.lrz.de/"
                    target="_blank">live demo</a>
            </p>
        </div>
        <div class="portfolio-link">
            <p>📽️
                <a href="https://drive.google.com/file/d/10ZyZQ8A0hRti0oDK4wAPczv_2TtHDVQV/view?usp=sharing"
                    target="_blank">presentation</a>
            </p>
        </div>
    </div>
    <div class="separator"></div>
    <div class="entry">
        <h2>travy</h2>
        <p>
            train travelling companion - a chatbot for getting live information about trainrides. This project was done
            together with Lynn Starke & Theo Peifer
        </p>
        <div class="portfolio-link">
            <p>👨🏻‍💻
                <a href="https://github.com/ID-Start-Winter22/travy-train-travel-companion" target="_blank">source
                    code</a>
            </p>
        </div>
        <div class="portfolio-link">
            <p>📽️
                <a href="https://drive.google.com/file/d/18moU-pz7wajIMEQ500vwQQ1TB3F0coux/view?usp=sharing"
                    target="_blank">presentation</a>
            </p>
        </div>
    </div>
    <div class="separator"></div>
    <div class="entry">
        <h2>cycles</h2>
        <p>
            A generative design tool for creating shapes based on cycle detection. This project was done together with
            Suhal Enayat
        </p>
        <div class="portfolio-link">
            <p>👨🏻‍💻
                <a href="https://github.com/cma5/Cycles" target="_blank">source code</a>
            </p>
        </div>
        <div class="portfolio-link">
            <p>📽️
                <a href="https://github.com/cma5/Cycles/blob/main/presentation/Cycles.pdf"
                    target="_blank">presentation</a>
            </p>
        </div>
    </div>
    <div class="separator"></div>
    <div class="entry">
        <h2>polisim</h2>
        <p>
            Concept of an AI driven futuristic police training simulator. This project was done together with Theo
            Peifer, Nils Tesch, Lynn Starke & Nils Vock
        </p>
        <div class="portfolio-link">
            <p>👨🏻‍💻
                <a href="https://github.com/polisim-uni-project" target="_blank">source code</a>
            </p>
        </div>
    </div>
</div>